.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.loading-spinner {
  color: #3498db;
}

.loading-spinner-container.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.loading-spinner-container.centered {
  height: 100%;
  width: 100%;
} 